<div class="">
<div class=" webnicianHeader" style=" ">
    <div class="large-12 small-12 columns " style="padding-left: 0px; padding-right: 0px; border-bottom: 2px ridge #808080; box-shadow: 5px 5px 5px #708090;">
        <div class="large-12 small-12 columns" style="padding: 0px;  background-color: #2a88bd; font-size: 20px; padding-bottom: 3%; padding-top: 3%; ">
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://webnician.net">Webnician Hub</a> </div>
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://google.com">Google</a></div>
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://yahoo.com">Yahoo</a></div>
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://microsoft.com">Microsoft</a></div>
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://google.com">Your Site</a></div>
            <div class="large-2 small-6 columns" style="padding: 0px; text-align: center"><a style="color: #fff" href="http://google.com">Your Site 2</a></div>
        </div>

    </div>
</div>
</div>
